.app.dark {
  --bg-color: rgb(18 0 38);
  --inverted-bg-color: rgb(232 227 239);
  --primary-color: rgb(255 229 229);
  --inverted-primary-color: rgb(2 0 63);
  --secondary-color: rgb(255 255 255);
  --inverted-secondary-color: rgb(33 33 33);
}
